:root {
  --main-color: #EE2D7A;
}

footer {
  width: 100%;
}

footer h3 {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 10px;
}

footer li {
  /* list-style: none; */
  padding: 5px 0;
}

footer li:hover {
  /* list-style: none; */
  padding: 5px 0;
  color: #fc0000;
}

footer a {
  color: #fff;
  text-decoration: none
}

footer a:hover {
  color: #fc0000;
}

a {
  text-decoration: none;
  color: black;
}