.media_tablet {
    display: none;
}


@media only screen and (max-width: 769px) {
    .media_pc {
        display: none;
    }

    .media_tablet {
        display: block;
    }
}

@media only screen and (max-width: 426px) {
    .media_tablet {
        margin-bottom: 20px;
    }
}