.searchbar {
    min-width: 500px !important;
}

@media only screen and (max-width: 1024px) {
    .searchbar {
        min-width: 350px !important;
    }
}

@media only screen and (max-width: 768px) {
    .searchbar {
        min-width: 300px !important;
    }
}

@media only screen and (max-width: 426px) {
    .searchbar {
        min-width: 210px !important;
    }
}

@media only screen and (max-width: 363px) {
    .searchbar_btn {
        display: block;
        min-width: 300px !important;
    }
}